<div class="row">
<div class="span12 offset2" , id="profile">
<h1>Post Edit</h1>

<%= render 'form' %>

<%= link_to 'Show', @post_master, class: "btn btn-large btn-primary" %> |
<%= link_to 'Back', post_masters_path, class: "btn btn-large btn-primary"  %>
</div></div>